@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

* button,
* input {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #5e548e;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #5e548e;
  padding: 0 2vh 3vh 2vh;
  margin-bottom: 4vh;
}

header h1 {
  color: #e0b1cb;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 5vh;
  position: relative;
  top: 6.5vh;
}

header .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1vh;
}

header .btns * {
  cursor: pointer;
  height: 7vh;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .btns span {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

button {
  font-weight: bold;
  color: #231942;
  padding: 1vh 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 999vh;
  border-style: none;
}

button * {
  margin: 0 0.5vh;
}

button svg {
  margin: 0 0 0 1vh;
}

.num-input {
  border-radius: 3vh;
  border-color: #231942;
  padding: 0 1vh;
  text-align: center;
}

button:hover,
.back.btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

button:active,
.back.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.items {
  padding: 3vh 5vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (22vh)[4];
      grid-template-columns: repeat(4, 22vh);
  grid-gap: 4vh;
}

.items li {
  height: 30vh;
  padding: 1.5vh;
  color: #be95c4;
  background-color: #231942;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.items li img {
  width: 100%;
  height: 60%;
}

.items li h2 {
  font-weight: 400;
  max-width: 100%;
  font-size: 3vh;
}

.items li .value {
  position: absolute;
  bottom: 1.5vh;
}

.items li:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.items li:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.selected .item-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  background-color: #be95c4;
}

.selected .item {
  color: #231942;
  display: -ms-grid;
  display: grid;
  padding: 3vh;
  grid-gap: 3vh;
  margin: 0 0 0 5vh;
}

.selected .item img {
  grid-row: span 6;
  max-width: 30vh;
}

.selected .item .side {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.selected .item input,
.selected .item button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.selected .item button {
  cursor: pointer;
}

.selected h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 3vh;
  margin: auto;
  font-weight: 100;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.shopping-cart ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0b1cb;
}

.shopping-cart ul li * {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3vh;
}

.shopping-cart ul li button.delete {
  border-radius: 100%;
}

.shopping-cart p {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 4vh 0;
  font-weight: bold;
  color: #e0b1cb;
}

.shopping-cart button.checkout {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 3vh;
  border-radius: 0.5vh;
}

.checkout {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5vh;
}

.checkout h1 {
  font-weight: normal;
}

.checkout div,
.checkout .phases li {
  padding: 1vh 2vh;
}

.checkout .phases {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.checkout .phases li {
  background-color: #e0b1cb;
  margin: 1vh;
  opacity: 0.8;
}

.checkout .phases li input {
  margin: 1vh 2vh 1vh 0;
  border: none;
  border-radius: 999vh;
  padding: 1vh 2vh;
}

.checkout .phases li button {
  margin-top: 1vh;
  background-color: #5e548e;
  color: white;
}

.checkout .phases li .else {
  height: 0;
  opacity: 0;
}

.checkout .phases li.active {
  opacity: 1;
}

.checkout .phases li.active .else {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}

.checkout .order-summary {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #e0b1cb;
}

.alert {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.alert h1 {
  background-color: white;
  color: #231942;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-bottom: 1vh;
  padding: 3vh;
  border-radius: 99vh;
}

.alert button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}

.wrapper.blurry {
  -webkit-filter: blur(1vh) brightness(0.7);
          filter: blur(1vh) brightness(0.7);
}

.hidden-none {
  display: none;
}

.hidden-space {
  -webkit-transform: scale(0);
          transform: scale(0);
}
/*# sourceMappingURL=style.css.map */